<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link
        rel="shortcut icon" type="image/png" href="favicon-bill.png">
        <!-- Normal CSS -->
        <title>Bill Me Portal</title>
        <script src="https://kit.fontawesome.com/508d83f98e.js" crossorigin="anonymous"></script>
    </head>
    <body>


        <section class="content">
            <div class="container-fluid">
                <div class="row" style="align-content: center;">
                    <div class="col-sm-4 col-lg-4 col-md-4"></div>
                    <div class="col-sm-4 col-lg-4 col-md-4 ">
                        <br><br><br><br>
                        <div class="text-center">
                            <h1 class="">
                                <i class="fa-sharp fa-solid fa-file-invoice-dollar fa-2x"></i>
                            </h1>
                        </div><br>
                        <div class="text-center">
                            <h1 class="">Register</h1>
                        </div>
                        <form method="post" action="/register">
                            <div class="form-group">
                                <label for="usernameinput">User name</label>
                                <input type="text" class="form-control" id="usernameinput" aria-describedby="emailHelp" placeholder="Enter Username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="inputpassword">Password</label>
                                <input type="password" class="form-control" id="inputpassword" placeholder="Enter Password" name="password">
                            </div>
                            <div class="form-group">
                                <p class="lead">Already have an account?<a href="/">Login Here</a></p>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-dark btn-lg">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4"></div>
                </div>
            </div>
        </section>
        <%- include("footer") %>